.cabecalho {
    background: #0082c7;
}

body {
    background: #e8e8e8;
}

* {
    margin: 0;
    padding: 0;
}

.cartao {
    background: #ebef40;
    margin: 16px;
    padding: 16;
}

.container {
    padding: 0 10%;
}

.mural--linhas {
    flex-direction: column;
}

.mural--linhas .cartao {
    flex-basis: auto;
    width: auto;
    display: block;
}

.cartao--some {
    opacity: 0;
    transition: 0.2s ease-in;
}

#mudaLayout {
    display: none;
}

@media( min-width: 560px) {
    .cartao {
        width: 190px;
        display: inline-block;
        box-sizing: border-box;
        text-align: left;
    }
    .mural {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .cartao {
        flex-basis: 190px;
        flex-grow: 1;
    }
    #mudaLayout {
        display: inline-block;
    }
}